.scoreboard-container {
    margin-top: 15vh;

    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    
}

.scoreboard-container.dark-mode {
    background-color: rgba(67, 87, 137, 0.5);
    box-shadow: 0px 0px 10px rgba(67, 87, 137, 0.8);
    color: white;
}

h2 {
    color: rgba(213, 76, 164, 1);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid rgba(88, 82, 172, 1);
}

table th {
    background-color: rgba(213, 76, 164, 0.9);
    color: white;
}

table th.dark-mode {
    background-color: rgba(130, 30, 148, 1);
}

table tbody tr:nth-child(even) {
    background-color: rgba(213, 76, 164, 0.1);
}

table tbody tr:nth-child(odd) {
    background-color: rgba(88, 82, 172, 0.1);
}
